title: MQ Summit
description: > # this means to ignore newlines until "baseurl:"
  A two-day conference dedicated to exploring the latest advancements in message queuing technologies.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://mqsummit.com" # the base hostname & protocol for your site

logo: "./assets/images/logo2022.png"

# google_site_verification: googleXXXXXXXXXXXXXXXX.html

include: [archives]

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag

# Social networks usernames (many more available: google-plus, flickr, dribbble, pinterest, instagram, tumblr, linkedin, etc.)
social:
  - title: twitter
    url: https://twitter.com/codebeamio
    username: codebeamio
    card: image
  - title: bluesky
    url: https://bsky.app/profile/codebeam.bsky.social
    username: codebeam
    card: image

# Build settings
markdown: kramdown
permalink: pretty

collections:
  participants:
    output: true
  testimonials:
    output: true
  keynotes:
    output: true
  trainers:
    output: true
  trainings:
    output: true
  talks:
    output: true
  posts:
    output: true
  videos:
    output: true
  archives:
    output: true
  tickets:
    output: true

defaults:
  - scope:
      path: ""
      type: "participants"
    values:
      layout: "participant"
  - scope:
      path: ""
      type: "trainings"
    values:
      layout: "training"
  - scope:
      path: ""
      type: "talks"
    values:
      layout: "talk"
  - scope:
      path: ""
      type: "keynotes"
    values:
      layout: "talk"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "videos"
    values:
      layout: "video"
  - scope:
      path: ""
      type: "archives"
    values:
      layout: "archives"
  - scope:
      path: ""
    values:
      layout: "default"

# Google Map JS api
# This is my api for this template
key-api: AIzaSyBf-F7nBzxi_73uI9QUxRQ-cNihYtlZ_AA
map-text: PHIL Haarlem
map-text-location: Lange Begijnestraat 11, 2011 HH Haarlem, Netherlands
map-lat: 52.3815701522688
map-lng: 4.638725701852786
