<div class="hackaton" id="hackaton">
    <div class="row">
        <div class="left-content left">
          <h3 class="title">Æternity Foundation Hackathon</h3>
          <hr/>
          <p>Join the aeternity Foundation Hackathon to tackle real-world challenges through automation, secure data processing, and scalable off-chain transactions. Whether online or in person, participants will collaborate to build blockchain-based projects using cutting-edge decentralized technology.

</br></br>
The Code Beam aeternity Hackathon invites developers, especially from the Erlang and Elixir communities, to create decentralized solutions with AI, oracles, state channels, and middleware on the Æternity blockchain. Participants will use Sophia, Æternity’s smart contract language, and harness the power of Elixir and Erlang for backend and middleware development of scalable dApps.
          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
              <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://dorahacks.io/hackathon/aeternity-codebeam2024/detail">Register here</a>
          </p>
        </div>
        <div class="logo">
          <br/>
          <img src="/assets/images/aeternityhackaton-CBE2024.png" alt="aeternity-hackaton-2024" style="display:block; width:80%; margin-left: auto; margin-right: auto">
        </div>
    </div>
</div>
