<div class="section" id="cft" style="background-image: url('{{site.baseurl}}/assets/images/background-gradient.jpg');">
  <h2 class="title">CALL FOR TALKS</h2>
  <hr />
  <br />
  <div class="call-for-talks">
    <h3 class="text-title mb-1" style="color: #ffffff">
      Be a part of MQ Summit 2025!
    </h3>
    <p class="text-content mb-2" style="color: white; text-align: left;">
      This year we’re accepting talks from people who are happy to deliver them in-person. We welcome proposals about Erlang, Elixir, BEAM, and other technologies and we are happy to support candidates from under-represented groups in the software development community. CFT closes: <strong>28 May.</strong>
    </p>

    <p class="text-content mb-2" style="color: white; text-align: left;">
      We are looking for great talk ideas around the themes of:
    </p>
    <ul class="text-content mb-2" style="color: white; text-align: left;">
      <li><strong>Growth of the Ecosystem</strong> - Convincing decision makers to adopt Erlang and Elixir whilst overcoming challenges of building and retaining teams.</li>
      <li><strong>Communication & Scaling with the BEAM</strong> - Platforms, frameworks and paradigms supporting communication, web services, IoT and demand for scalability.</li>
      <li><strong>AI & Machine Learning</strong> - Combining our systems with the components which give us the power of machine learning and AI on the BEAM.</li>
      <li><strong>Deployment & DevOps</strong> - Overcoming challenges of deploying and scaling your systems in production environments.</li>
      <li><strong>Fighting Technical Debt</strong> - Improving legacy systems and breaking the monolith.</li>
      <li><strong>History, Innovation & Sustainability</strong> - How we are learning from the past to shape the future through innovation and green tech.</li>
    </ul>

    <p class="text-content mb-5" style="text-align: center; margin-top: 3em;">
      <a class="page-scroll btn-outline btn-purple mb-5 btn-purple" href="https://sessionize.com/">SUBMIT HERE</a>
    </p>
  </div>
</div>
