<div
  class="section welcome"
  id="cft"
  style="background-image: url('{{site.baseurl}}/assets/images/background-gradient.png'); background-size: 100% 100%;"
>
  <h2 class="title">CALL FOR TALKS</h2>
  <div class="call-for-talks">
    <h3 class="text-title mb-1" style="color: #ffffff">
    Be a part of MQ Summit 2025!
    </h3>
    <p class="text-content mb-2" align="left" style="color: white">
      MQ Summit is where messaging experts, developers, and decision-makers come together to explore the future of message queues and event-driven architectures. We’re looking for insightful talks that dive into real-world use cases, best practices, and the latest advancements in messaging technologies. CFT
      closes: <strong>15 June 2025</strong><br /><br />
      What We’re Looking For:
    </p>

    <ul class="text-content mb-2" style="color: white; margin: 0; padding-left: 1.2em; list-style-position: outside;">
    <li>Deep dives into messaging systems like RabbitMQ, Kafka, Pulsar, NATS, Amazon SQS, Google Cloud Pub/Sub, and more</li>
    <li>Case studies of large-scale implementations, performance tuning, and troubleshooting</li>
    <li>Innovations in messaging, event-driven architectures, and hybrid cloud strategies</li>
    <li>Security, observability, and best practices for running reliable messaging infrastructure</li>
    <li>Tooling, interoperability, and evolving standards in the MQ ecosystem</li>
    <li>
      Trends in how messaging tech is enabling:
      <ul class="sublist">
        <li>Cloud-to-edge architectures</li>
        <li>AI-powered systems</li>
        <li>Smart manufacturing</li>
        <li>Connected vehicles</li>
      </ul>
    </li>
    <li>
      Exploring messaging patterns in a point-to-point centric world:
      <ul class="sublist">
        <li>Pub/Sub, M:N, push vs. pull</li>
        <li>Messaging core vs. HTTP shell</li>
        <li>Art of the possible with modern message exchange approaches</li>
      </ul>
    </li>
    </ul>
    <p class="text-content mb-5" align="center" style="margin-top: 3em">
    <a
      class="page-scroll btn-outline btn-purple mb-5 btn-purple"
      href="https://sessionize.com/mq-summit-2025/"
      >SUBMIT HERE</a>
    </p>
  </div>
</div>
