<div class="cover" id="cover" style="background-image: url('{{site.baseurl}}/assets/images/Code BEAM EU web background.png');">

 
  <div class="logo">
    <!--

    <img
      src="{{ site.baseurl }}/assets/images/code-beam-logo.png"
      alt="icon-about"
    />
     -->
  </div>

 
  <div class="col-right">
    <h4 class="date" style="color: #19f5ff">
      THANK YOU FOR BEING WITH US THIS YEAR AND SEE YOU IN 2024!<br />
      <span style="color: #fff; font-size: 22px">Save the date: 14-15 OCTOBER 2024 </span><br />
      <span style="color: #fff; font-size: 18px">BERLIN, ESTREL HOTEL</span>
    </h4>
    <p class="text-content mb-1">
      <p>Code BEAM Europe 2023 in numbers:

        <!--  <br /><br />
        Conference and Tutorial Highlights:
        <br />
        <a href="/talks/refactoring-via-the-language-server-protocol/">-> Refactoring via the Language Server Protocol</a><br>
        <a href="/talks/an-elixir-application-to-a-small-hydropower-plant-with-nerves-machines/">-> An Elixir application to a small hydropower plant with Nerves machines</a><br>
        <a href="/talks/elixir-update/">-> Elixir Update with Andrea Leopardi</a><br>
        <a href="/talks/deep-dive-in-nx-backends/">-> Deep dive in Nx Backends</a><br>
        <a href="/trainings/Architecting-reactive-systems/">-> Architecting Reactive Systems with Francesco Cesarini</a>
        </p> -->

      <h4 class="call-for-talks">
            <div class="talk-highlight-items">
                <div class="highlight-item-row">
                    <span>2</span>
                    <span>DAYS</span>
                </div>
                <div class="highlight-item-row">
                    <span>5</span>
                    <span>TRACKS</span>
                </div>
                <div class="highlight-item-row">
                    <span>45</span>
                    <span>SPEAKERS</span>
                </div>
                <div class="highlight-item-row">
                    <span>400+</span>
                    <span>ATTENDEES</span>
                </div>
            </div>
        </h4><br>
   
<!--<h4 class="date">Call for Talks is now open - <a href="https://sessionize.com/code-beam-europe-2023/"style="color: #19f5ff">submit here</a>.</h4>-->
    <!--<a class="page-scroll btn-arrow" href="#welcome">
      <span class="fa fa-chevron-down"></span>
    </a>-->
        <!--<a
      class="page-scroll btn-outline btn-purple mb-5 btn-purple"
      href="https://www2.codesync.global/l/23452/2020-11-05/77b8y8"
      >TICKETS</a
    ><br>-->
  </div>
<!--  <div class="cover-bottom">
    <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
      <span style="color: #e32dfd;">CALL FOR TALKS</span>
      <br>
      IS OPEN AND CLOSES ON 17 JULY 2022
    </h4>
  </div>-->
</div>
