<div class="section welcome" id="diversity">
    <h2 class="title">DIVERSITY & INCLUSION</h2>
    <hr/>
    <p class="text-content">
Thanks to Erlang Solutions we can once again implement a Diversity & Inclusion Programme for Code BEAM Europe! The goal of the programme is to increase the diversity of attendees and offer support to groups underrepresented in the tech community who would not otherwise be able to attend the conference. 
        <br>The Diversity & Inclusion Programme focuses primarily on empowering women, ethnic minorities or people with disabilities, among others, but everybody is welcome to apply.</b><br> Learn more about the process <a href="https://codesync.global/opportunity-scheme/" target="_blank">here</a>.
</p>
    <p class="text-content mb-5" align="center" style="margin-top:1em">
    <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://docs.google.com/forms/d/e/1FAIpQLSe_aq7yMOoZNvAPoI4lrovB2C8nZfJiLtbaZnq_rz78azR5CA/viewform"target="_blank">Apply</a>
</div>
