<div
  class="section welcome"
  id="lightning-talks"
  style="background-image: url('{{site.baseurl}}/assets/images/background-gradient.png'); background-size: 100% 100%;"
>
  <h2 class="title">LIGHTNING TALKS</h2>
  <div class="call-for-talks">
    <p class="text-content mb-2" align="left" style="color: white">
      Want to give a Lightning Talk? Submit it here! This is the perfect slot if you have something quick to share, are testing out an idea or are unsure how you feel in front of an audience.<br /><br />
      Lightning Talks are short and focused: <strong>5&ndash;10 minutes</strong> each. We have limited time, so talks are accommodated on a first come, first served basis. This year, Lightning Talks will be <strong>recorded and streamed</strong>.
    </p>
    <p class="text-content mb-5" align="center" style="margin-top: 3em">
      <a
        class="page-scroll btn-outline btn-purple mb-5 btn-purple"
        href="https://forms.gle/uELNkR9PCkFLvo3D8"
        target="_blank"
        >SUBMIT</a>
    </p>
  </div>
</div>
