<div class="section newsletter" id="newsletter">
    <h2 class="title">WAITING LIST</h2>
    <hr/>
    <p class="section-text mb-3">
       Be the first to get access to discounted tickets and news about the event! 
       Just subscribe to the event mailing list. (if you can't see the form below, change your browser)
    </p>
    <div class="form-container">
<!-- NEWSLETTER FORM
<getresponse-form form-id="1230b307-9ea9-4adb-be30-65c6e5782bb7" e="0"></getresponse-form> -->
<getresponse-form form-id="1abbc723-8690-4e67-b308-19afaa358681" e="0"></getresponse-form>

    </div>
</div>
