<div class="section register" id="register">
    <h2 class="title">REGISTER</h2>
    <hr/>
    <br><br>
    <p> IN-PERSON CONFERENCE & TRAINING TICKETS </p>
    <hr/>
<div class="register-widget" id="eventbrite-widget-container-911452437777">&nbsp;</div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
var exampleCallback = function() {
    console.log('Order complete!');
};

window.EBWidgets.createWidget({
    // Required
    widgetType: 'checkout',
    eventId: '911452437777',
    iframeContainerId: 'eventbrite-widget-container-911452437777',

    // Optional
    iframeContainerHeight: 1125,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
    onOrderComplete: exampleCallback  // Method called when an order has successfully completed
});
</script><div class="section register" id="register-virtual">  
<hr/>  
    <br><br><br><br><br><br><br><br><br>
<p> VIRTUAL CONFERENCE & TRAINING TICKETS </p>
<hr/>
<div class="register-widget" id="eventbrite-widget-container-912719617947">&nbsp;</div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '912719617947',
        iframeContainerId: 'eventbrite-widget-container-912719617947',

        // Optional
        iframeContainerHeight: 825,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
</div>
