<div class="section sponsor" id="sponsors">
    <h2 class="title">SPONSORS</h2>
    <hr/>
    <!-- <p class="section-text">
        Nulla a tellus at turpis gravida congue non  et malesuada fames ac
                                                                                            ante ipsum primis
    </p> -->

    <div class="row sponsors">

         <h2 class="sponsor-title">Diversity & Inclusion Sponsor</h2>

            <a href="https://www.erlang-solutions.com/" target="_blank">
                <img src="{{site.baseurl}}/assets/images/erlang-solutions-logo_erlang-solutions-logo-black.png" alt="erlang solutions" />
            </a>

            <h2 class="sponsor-title">Platinum Sponsors</h2>

            <a href="https://www.aeternity.com" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/Aeternity-525.png" alt="Aeternity"/>
            </a>

            <a href="https://www.cloudamqp.com" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/CloudAMQP-525.png" alt="cloudamqp"/>
            </a>

        
        <a href="https://www.onextel.com/" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/Onextel-525.png" alt="onextel" />
            </a>
        <a href="https://www.bitcrowd.net/" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/bitcrowd-525.png" alt="onextel" />
            </a>
      
        <h2 class="sponsor-title">Gold Sponsor</h2>

             <a href="https://www.emqx.com/en" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/emq-525.png" alt="EMQ" />
            </a>
         <a href="https://aws.amazon.com/" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/aws.png" alt="AWS" />
            </a>
         <a href="https://vmware.com" target="_blank">
                <img src="{{site.baseurl}}/assets/images/sponsors/vm ware - 525.png" alt="VM Ware" />
            </a>

        <h2 class="sponsor-title">Supporting Sponsor</h2>

                <a href="https://erlef.org/" target="_blank">
               <img src="{{site.baseurl}}/assets/images/sponsors/EEF-300.png" alt="EEF" />
                </a>

               <h2 class="sponsor-title">Media Partner</h2>

            <a href="https://germantechjobs.de/en" target="_blank">
                <img src="{{site.baseurl}}/assets/images/gtj-rectangle.png" alt="GT" />
            </a>


        <!-- Sponsors Carousel -->
                    <!-- <div id="testimonials-carousel" class="sponsor-testimonial">
      {% for sponsor in site.data.sponsors %}
      <h3 class="name">{{ sponsor.name }}</h3>

      {% endfor %}
    </div> -->
    </div>
</div>
