<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/black-bg.png');">
   <div class="row">
        <div class="left-content left">
                   <h2 class="title">1-DAY TRAINING SESSIONS VENUE</h2>
                         <hr/>
                <p class="venue-subtitle">nhow Berlin (TBC!)</p>
                   <p class="venue-text">Stralauer Allee 3<br>
                10245 Berlin<br>Hotel rooms will be available<br>
                <strong><a href="https://www.nhow-hotels.com/en/nhow-berlin/about">LOCATION & DIRECTIONS</a><br></p>
        </div>
    
 <div class="row">
        <div class="left-content left">
                   <h2 class="title">3-DAY TRAININ SESSIONS VENUE</h2>
                         <hr/>
                <p class="venue-subtitle">innoQ</p>
                   <p class="venue-text">Ohlauer Str. 43<br>
                10999 Berlin</p>
        </div>
    </div>
</div>
</div>
