<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .left-content {
        flex: 1;
        padding: 20px;
    }
    .right-content {
        flex: 1;
        padding: 20px;
    }
    @media (max-width: 768px) {
        .left-content, .right-content {
            flex: 100%;
        }
    }
</style>

<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/venue-background-Estrel.jpeg');">
   <div class="row">
        <div class="left-content">
            <h2 class="title">CONFERENCE VENUE</h2>
            <hr/>
            <p class="venue-subtitle">ESTREL</p>
            <p class="venue-text">Sonnenallee 225<br>
                12057 Berlin<br>
            
                <strong><a href="https://www.estrel.com/files/downloads/estrel_lage_anfahrt_2022_ENG.pdf">LOCATION & DIRECTIONS</a><br></p>
                <h2 class="venue-subtitle">ACCOMMODATION</h2>
                <p class="venue-text">
                <p>We have secured rooms at Estrel from €128 a night (+ €25 breakfast). To book, please follow <a href="https://reservations.travelclick.com/17417?groupID=4211796" style="color: #e32dfd">this link</a>. Please mind the cancellation policy.</p>
        </div>
        <div class="right-content">
            <br/>
             <br/>
              <br/>
              <br/>
               <br/>
                <br/>
            {% include map.html %}
        </div>
    </div>
</div>
