<div class="section welcome" id="welcome">
     <h2 class="title">ABOUT THE EVENT</h2>
     <hr/>

     <div class="row align-center">
       <div class="left-content col-md-6">
           <div class="image-container">
               <img
                   class="welcome-image"
                   src="{{site.baseurl}}/assets/images/2022 RabbitMQ Summit-CodeNode.jpg"
                   alt="CodeNode 2022"
               />
           </div>
       </div>
         <div class="right-content">
             <h3 class="text-title mb-1">MQ Summit brings together the people who design, build, and scale modern messaging systems.</h3>
              <p>Message queues are the backbone of modern distributed systems, ensuring reliable communication,
                scalability, and resilience in systems that can't afford to fail.<br><br>
                Building on the success of RabbitMQ Summit, MQ Summit connects professionals working across the messaging ecosystem:
                <span style="color: #80c0fa;">RabbitMQ</span>, <span style="color: #80c0fa;">Kafka</span>, <span style="color: #80c0fa;">NATS</span>,
                <span style="color: #80c0fa;">Apache Pulsar</span>, <span style="color: #80c0fa;">Azure Messaging Brokers</span>,
                <span style="color: #80c0fa;">Amazon SQS</span>, <span style="color: #80c0fa;">IBM MQ</span>, <span style="color: #80c0fa;">Google Pub/Sub}</span> and more.
                Whether you're developing event-driven architectures, operating large-scale infrastructure,
                or making strategic technology decisions, this conference offers valuable insights from industry experts.<br><br>
                <span style="color: #80c0fa;">Why Attend?</span><br>
                A. Cross-Technology Perspective - Explore real-world lessons from teams working with RabbitMQ, Kafka, Pulsar, NATS, cloud messaging services, and beyond.<br>
                B. Technical Depth Meets Strategy – From architecture patterns to operational challenges and long-term technology choices - gain insights that support both builders and decision-makers.<br>
                C. Learn from Production Reality – Case studies from companies handling millions (or billions) of messages daily. No theory - just systems that run in the real world.<br>
                D. Meaningful Connections – Meet architects, developers, SREs, and technical leaders shaping the future of messaging.<br>

                <br><br>
              </p>
         </div>
     </div>
 </div>
