<div class="section welcome" id="welcome">
     <h2 class="title">Learn. Share. Inspire.</h2>
     <hr/>

     <div class="row align-center">
         <div class="left-content flex-end">
<iframe width="560" height="315" src="https://www.youtube.com/embed/oMfRhvti734?si=BXsWFu65MznlCCzg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>         </div>
         <div class="right-content">
             <h3 class="text-title mb-1">Join the major European event for Erlang and Elixir users</h3>
              <p> Erlang and Elixir share the same Virtual Machine, the BEAM. This ingenious little bit of technology is perfect for fault-tolerant, resilient applications that scale to billions of users, which is one of the biggest challenges facing developers and companies today. <br>Code BEAM has united Erlang & Elixir developers for years to grow and progress the community in the spirit of Share. Learn. Inspire.
          <br><br>
          Meet people and companies using and developing high performance, fault-tolerant and resilient applications that scale to billions of users in production in areas like Fintech, eCommerce, IoT, Gaming, Blockchain, Security, Machine Learning and more.

          <br><br>

     
              </p>
         </div>
     </div>
 </div>
