<div class="section welcome" id="welcome">
     <h2 class="title">ABOUT THE EVENT</h2>
     <hr/>

     <div class="row align-center">
       <div class="left-content col-md-6">
           <div class="image-container">
               <img
                   class="welcome-image"
                   src="{{site.baseurl}}/assets/images/2022 RabbitMQ Summit-CodeNode.jpg"
                   alt="CodeNode 2022"
               />
           </div>
       </div>
         <div class="right-content">
             <h3 class="text-title mb-1">Be Part of the First MQ Summit!</h3>
              <p>Message queues are the backbone of modern distributed systems, ensuring seamless communication, scalability, and resilience.<br><br>
                Building on the success of RabbitMQ Summit, MQ Summit now brings together professionals working with a wide range of messaging systems, including <span style="color: purple;">RabbitMQ</span>, <span style="color: purple;">Kafka</span>, <span style="color: purple;">NATS</span>, <span style="color: purple;">Apache Pulsar</span>, <span style="color: purple;">Amazon SQS</span>, <span style="color: purple;">IBM MQ</span>, and more. Whether you're developing event-driven architectures, optimizing system performance, or making strategic technology decisions, this conference offers valuable insights from industry experts.<br><br>
                <span style="color: purple;">Why Attend?</span><br>
                A. Deep Dive into Messaging – Learn about RabbitMQ, Kafka, Pulsar, NATS, Amazon SQS, Google Pub/Sub, and more.<br>
                B. Technical & Strategic Insights – Whether you build with MQs or decide which to adopt, gain knowledge from experts.<br>
                C. Network with Industry Leaders – Connect with peers, technology creators, and business decision-makers.<br>
                D. Real-World Case Studies – See how messaging solutions power mission-critical applications.<br>

                <br><br>
              </p>
         </div>
     </div>
 </div>
